.logo {
  background-image: url(/img/produto_io_sm_logo.png);  /* shows image */
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-top: 10px;
  height: 35px;                        /* be sure to set height & width */
  width: 210px;
 }